$main-color:#0088fe;
$main-background-color: #fff;
$background-footer: #eeeeee;
$background-header: transparent;
$color-footer: #333;
$background-side-menu: #fff;
$color-side-menu: #222;
$color-active-side-menu:#046db3;
$background-active-side-menu: #bee6f7;
$color-icon-side-menu: #222;
$color-header: #fff;
$height-row-side-menu: 48px;

.toolbar-action-bottom {
  position: fixed;
  z-index: 100;
  bottom: 20px;
  left: calc(50%);

  .btn-action-bottom {
    width: auto;
    min-width: 100px;
    margin: 0 5px;

    > i {
      margin-right: 7px;
    }
  }
}

.side-menu-page {
  font-size: 12px;
  user-select: none;
  background: transparent !important;
  box-shadow: none;
  z-index: 99;

  div {
    &::-webkit-scrollbar {
      width: 6px !important; //dá»c
      height: 6px !important; //ngang
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent !important;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #56cdfb !important;
      opacity: 0.8;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      opacity: 1;
    }
  }

  .ant-layout-sider-children {
    .side-menu-line {
      span {
        background: $color-active-side-menu;
      }

      i {
        color: $color-active-side-menu;
      }
    }

    .side-menu {
      overflow-y: auto;
      overflow-x: hidden;
      background: transparent;
      color: $color-side-menu;
      width: 100%;
      border-color: transparent !important;
      margin-top: 0 !important;
      font-size: 13px;

      .ant-menu-submenu > .ant-menu {
        background: transparent;
        font-size: 13px;
      }

      .ant-menu-item {
        margin: 0;
        padding: 0px !important;
        color: $color-side-menu;
        height: 48px;
        font-size: 13px;

        .route-side-menu {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          color: $color-side-menu;
          font-size: 13px;

          .side-menu-icon-wrap {
            width: 54px;
            height: 100%;
            display: flex !important;
            align-items: center;
            justify-content: center;
            font-size: 13px;

            .side-menu-icon {
              width: 30px;
              height: 30px !important;
              border-radius: 5px;
              color: #fff !important;
              line-height: 30px !important;
              text-align: center;
            }
          }

          .side-menu-text {
            flex: 1;
            white-space: nowrap;
            overflow: hidden !important;
            text-overflow: ellipsis;
            width: calc(100% - 55px);
            font-size: 13px;
          }
        }

        &.ant-menu-item-selected {
          > a {
            color: $color-active-side-menu !important;
          }
        }

        &.ant-menu-item-selected,
        &.ant-menu-item-active {
          color: $color-active-side-menu !important;
          background: $background-active-side-menu !important;
          font-size: 13px;

          .anticon {
            color: $color-active-side-menu !important;
          }
        }

        &:last-child {
          border-bottom: 0;
        }

        .anticon {
          float: left;
          display: flex;
          height: 100%;
          align-items: center;
          font-size: 20px;
          color: $color-icon-side-menu;
        }

        &::after {
          right: unset !important;
          border-color: transparent;
        }

        &:not(:last-child) {
          margin-bottom: 0px !important;
        }
      }

      .ant-menu-submenu {
        background: transparent;
        color: $color-side-menu;

        .ant-menu-sub {
          .route-side-menu {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            padding-left: 20px;
          }
        }

        .ant-menu-submenu-title {
          margin: 0;
          background: transparent;
          color: $color-side-menu;
          height: 48px !important;
          padding: 0px !important;

          &:hover {
            background: $background-active-side-menu;
            color: $color-active-side-menu;
          }

          .route-side-menu {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
          }

          .anticon {
            float: left;
            display: flex;
            height: 100%;
            align-items: center;
            font-size: 20px;
            color: $color-icon-side-menu;
          }
        }

        .side-menu-icon-wrap {
          width: 54px !important;
          height: 100%;
          display: flex !important;
          align-items: center;
          justify-content: center;

          .side-menu-icon {
            width: 30px;
            height: 30px !important;
            border-radius: 5px;
            color: #fff !important;
            line-height: 30px !important;
            text-align: center;
          }
        }

        .side-menu-text {
          flex: 1;
          width: calc(100% - 84px);
          white-space: nowrap;
          overflow: hidden !important;
          text-overflow: ellipsis;
          font-size: 13px;
        }

        .ant-menu-submenu-arrow {
          right: 10px !important;
        }
      }

      //
      /* width - height */
    }
  }
}

.custom-menu-page {
  .ant-layout-sider-children {
    .side-menu {
      .ant-menu-submenu {
        .ant-menu-item {
          .route-side-menu {
            padding-left: 0px !important;

            .side-menu-icon-wrap {
              > i {
                position: relative;
                height: 100%;
                background: #046db3;
                width: 1px;

                &::before {
                  content: "";
                  width: 10px;
                  height: 10px;
                  border: 1px solid #046db3;
                  background: #fff;
                  display: block;
                  left: -5px;
                  position: absolute;
                  top: 19px;
                  z-index: 9;
                  -webkit-transform: rotate(45deg);
                  transform: rotate(45deg);
                }

                &::after {
                  content: "";
                  width: 20px;
                  height: 1px;
                  border-radius: 50%;
                  background: #046db3;
                  display: block;
                  left: 0;
                  position: absolute;
                  top: 24px;
                  z-index: 1;
                }
              }
            }
          }
        }
      }
    }
  }
}

.metro-sidebar {
  height: 44px;
  display: flex;
  background: #fff;

  .box-menu {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: #989898;
    border-bottom: 2px solid transparent;
    &.active {
      > i {
        color: #2eb3e7;
      }
      border-bottom: 2px solid #2eb3e7;
    }
    > i {
      line-height: 22px;
      height: 22px;
      text-align: center;
      font-size: 15px;
      padding: 3px 0 0;
      margin: 0;
    }
    > span {
      flex: 1;
      text-align: center;
      font-size: 10px;
      line-height: 17px;
    }
  }
}

.menubar {
  flex: 1;
  display: flex;
  // background: linear-gradient(180deg, #45C8FB 0%, rgba(222, 222, 222, 0.36) 38.54%);

  .box-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    padding-top: 4px;
    margin: 0 15px 0 0;
    border-bottom: 2px solid transparent;
    &.active{
        // >i{
        //     color: #fff;
        // }
        // border-bottom: 2px solid #fff;
        padding-bottom: 4px;
        border-bottom-color: #0088fe;
    }
    > i {
      
      height: 15px;
      text-align: center;
      font-size: 14px;
      padding: 2px 0 0;
      margin: 0;
    }
    > span {
      flex: 1;
      height: 19px;
      text-align: center;
      font-size: 13px;
      line-height: 19px;
      font-weight: 500;
    }
  }
}

.end-menu {
  display: inline-flex;
}

.route-side-menu {
  display: inline-block !important;
  width: 100%;
  overflow: hidden;

  .side-menu-text {
    flex: 1;
    line-height: 48px !important;
    display: inline-block;
    position: relative;
  }

  .side-menu-icon-wrap {
    font-size: 16px;
    float: left;
  }
}

.side-menu-title {
  color: $color-active-side-menu;

  .header-side-bar {
    position: relative;
    font-size: 25px;
    font-weight: 600;
    width: 150px;
    display: block;
    margin: 0 auto;
    line-height: 38px;
    clear: both;

    > img {
      margin-right: 5px;
      float: left;
    }

    .header-text {
      color: #0455b3;
      position: absolute;
      left: 45px;
      line-height: 38px;
    }

    .header-text-backgroud {
      color: #fff;
      line-height: 38px;
    }
  }
}

.side-menu-icon-sub {
  width: 26px;
  height: 26px !important;
  border-radius: 5px;
  color: #fff !important;
  line-height: 26px !important;
  text-align: center;
  background: #607d8b;
  font-size: 12px;
}

.ant-menu-item-selected::after {
  right: unset;
  left: 0;
  border-right: 3px solid $color-active-side-menu !important;
}

.btn {
  text-transform: uppercase;
}

.ant-tooltip-inner {
  .route-side-menu {
    display: flex !important;

    .side-menu-icon-wrap {
      display: none;
    }
  }
}

.ant-tooltip {
  .side-menu-text {
    flex: 1;
    line-height: unset !important;
  }
}

.ant-menu-submenu-popup {
  padding-left: 2px;
  background: transparent !important;

  .side-menu-icon-wrap {
    width: 25px;
  }

  .side-menu-text {
    flex: 1;
    line-height: 38px !important;
  }

  .ant-menu-item {
    height: 38px !important;
    margin: 0px !important;
  }

  .ant-menu-sub::before {
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid #fff;
    position: absolute;
    left: -3px;
    top: 5px;
  }
}

.ant-layout-sider-collapsed {
  .side-menu-text {
    padding: 0px !important;
  }
}

.header-page {
  display: flex;
  background: $background-header !important;
  color: $color-header !important;

  .btn-toggle-menu {
    width: 50px;
    height: 50px;
    font-weight: 600;
    line-height: 50px;
    text-align: center;
    cursor: pointer;

    > i {
      font-size: 20px;
      color: #0092d9;
      line-height: 50px;
    }
  }

  .anticon {
    color: $color-header !important;
  }

//   .breadcrumb {
//     padding: 0 10px;
//     line-height: 50px;
//     font-size: 16px;
//     background: transparent;
//     color: $color-header;
//     text-transform: uppercase;
//     margin-bottom: unset !important;
//   }
}

.breadcrumb {
  padding: 5px 2px 0px 2px;
  line-height: 50px;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: unset !important;
}

.body-page {
  padding: 15px;
  display: table;
  width: 100%;
  position: relative;
  min-height: 100%;
  flex-direction: column;

  .content-body-page {
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 1px 15px 1px rgba(39, 39, 39, 0.1);
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 100%;
    position: relative;

    .base-collapse {
      .header-base-collapse {
        margin: 10px;
        border-bottom: 0;

        .ant-collapse-header {
          border-radius: 5px;
          background: linear-gradient(to right, rgb(4, 109, 179) 0%, rgb(22, 150, 207) 60%, rgb(32, 170, 222) 100%);

          > i {
            color: white;
            margin-top: -1px;
          }

          > span {
            color: white;
          }
        }
      }
    }

    .base-tab-list-view {
      flex: 1;
      display: flex;
      flex-direction: column;

      > .ant-tabs-content {
        flex: 1;
        display: flex;
        flex-direction: column;

        > .ant-tabs-tabpane-active {
          height: 100%;
        }
      }
    }

    .content-title {
      .content-title-top {
        line-height: 30px;
        text-align: center;
        font-size: 18px;
        color: var(--color-active-side-menu);
        margin-bottom: 15px;
      }

      .content-title-bottom {
        line-height: 30px;
        text-align: center;
        font-size: 22px;
        font-weight: 600;
        color: var(--color-active-side-menu);
        text-transform: uppercase;
        margin-bottom: 15px;
      }
    }

    .filter-template-report {
      display: flex;

      .title-filter {
        font-size: 18px;
        text-align: left;
        font-weight: 500;
        text-transform: uppercase;
        flex: 1 1 0%;
        margin-right: 20px;
        line-height: 30px;
        color: #000;
      }
      .row-field {
        margin-bottom: 0;
      }
      .btn-download {
        color: #2e7d32;
        background-color: #fff;
        border-color: #2e7d32;
        display: flex;
        padding: 3px 8px;
        color: #2e7d32;
        font-size: 12px;
        line-height: 22px;
        > i {
          margin: 4px 6px 4px 0;
          font-size: 16px;
          color: #2e7d32;
        }
        &:hover {
          color: #fff;
          background: #2e7d32;
          > i {
            background-color: #2e7d32;
            color: #fff;
          }
        }
      }
    }

    .filter-ktcn {
      display: flex;

      .title-filter {
        font-size: 18px;
        text-align: left;
        font-weight: 500;
        text-transform: uppercase;
        flex: 1 1 0%;
        margin-right: 20px;
        line-height: 30px;
        color: #000;
      }
    }

    .doc-top-tab-toolbar {
      padding: 15px 0 0 0;

      .btn-tab {
        margin-right: 15px;

        .btn {
          border-radius: 0;
          font-size: 12px;
          text-transform: uppercase;
          padding: 6px 10px;
          line-height: 20px;
          min-width: 80px;

          &.btn-default {
            background: #f1f1f1;
            border: 1px solid #ccc;
            color: #0092d9;
          }
        }
      }
    }
  }
}
.btn-back {
  background-color: rgb(221, 221, 221);
  border-color: transparent;
}
.btn-full-screen {
  .ant-btn {
    > i {
      margin-top: -3px;
    }
  }
}
